<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <link rel="stylesheet" href="/public/404.css" />
  </head>
  <body>
    <a href="../{{returnPage}}">{{returnTo}}</a>
    <h1>404</h1>
    <h2>{{message}}</h2>

    <img src="/public/images/404-dog.jpg" alt="404 ERROR " />
  </body>
</html>