<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
    <link rel="stylesheet" href="/public/404.css">
</head>
<body>
      <a href="../">Home</a>
    <h1>Thanks!</h1>
    <h2>Successfully submitted</h2>
    
    <img src="/public/images/submit-greeting.jpg" alt="Successfully submit">
</body>
</html>