<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Weather</title>
    
    <link rel="stylesheet" href="/public/index.css">
</head>
<body>
    <div class="main_div">
      {{>header}}
    <h1><span>Weather</span></h1>

  <form  >
  <input type="text" placeholder="city name">
  <button>Search</button>
</form>

<div class="weatherRender">



</div>
    </div>
   
  <script src="public/js/app.js"></script>
</body>

</html>